
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background: #f4f7fc;
    font-family: Arial, sans-serif; 
}

.contact-info {
    text-align: center;
    max-width: 700px; 
}

.contact-info h2 {
    font-size: 4rem; 
    color: #1d1e1f;
    margin-bottom: 20px;
}

.contact-info-para{
    font-size: 2rem;
    text-align: center; 
    color: #000000;
}


.contact-details p{
    font-size:25px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    font-size: 1.3rem; 
    color: #34495e;
}

.contact-item .icon {
    font-size: 2.5rem; 
    color: #213a92;
    margin-right: 15px;
}


.social-icons {
    margin-top: 30px;
}

.social-icons a {
    font-size: 2.5rem;
    margin: 0 15px; 
    color: #213a92;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #336393;
}


.contact-form {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
    max-width: 800px;
    height: 530px;
    text-align: center;
    margin-top: 50px; 
}

.contact-form h2 {
    font-size: 2.5rem; 
    margin-bottom: 25px;
    color: #2c3e50;
}

.contact-form input,
.contact-form textarea {
    width: 680px;
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-size: 1.6rem; 
}

.contact-form textarea {
    height: 150px; 
    resize: none;
}

.submit-button {
    background: #3498db;
    color: white;
    font-size: 2rem;
    padding: 12px 25px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background: #2980b9;
}


.map-container {
    width: 100%;
    max-width: 1400px;
    margin-top: 50px; 
    border-radius: 12px;
    overflow: hidden;
}
